<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppSecret</key>
	<string>9c659ba8-2a7f-46dd-a320-8b9495001ccc
9c659ba8-2a7f-46dd-a320-8b9495001ccc</string>
</dict>
</plist>
