<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>548019610697-cvfs1fjakvibmefqa4epp141a7a1c78o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548019610697-cvfs1fjakvibmefqa4epp141a7a1c78o</string>
	<key>API_KEY</key>
	<string>AIzaSyC-J9_nmFbGRRg1Iqp4pLnau3TkmS-zSYY</string>
	<key>GCM_SENDER_ID</key>
	<string>548019610697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hippware.tinyrobot</string>
	<key>PROJECT_ID</key>
	<string>my-project-1480497595993</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-1480497595993.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548019610697:ios:3a69a6c19d095535</string>
	<key>DATABASE_URL</key>
	<string>https://my-project-1480497595993.firebaseio.com</string>
</dict>
</plist>