<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
  xmlns:tools="http://schemas.android.com/tools">
  <application>
    <!-- react-native-background-geolocation license -->
    <meta-data tools:replace="android:value" android:name="com.transistorsoft.locationmanager.license" android:value="57b94460360395a0887167f880ce1e8e6d5a0e854f1a15f385b777303ac149a0" />
  </application>
</manifest>