<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
  xmlns:tools="http://schemas.android.com/tools">
  <application>
    <!-- react-native-background-geolocation license -->
    <meta-data tools:replace="android:value" android:name="com.transistorsoft.locationmanager.license" android:value="e96fb2c368a8761920a3973defa214f7329acb76465a1ecf10d14f3f474b3e70" />
  </application>
</manifest>