{
  "passPerPreset": true,
  "presets": [
  "@babel/preset-typescript",
    "module:metro-react-native-babel-preset"
  ],
  "sourceMaps": "inline",
  "plugins": ["@babel/plugin-proposal-object-rest-spread", "@babel/plugin-transform-flow-strip-types", ["@babel/plugin-proposal-decorators", { "legacy": true }], ["@babel/plugin-proposal-class-properties", { "loose": true }]],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    },
    "test": {
      "plugins": ["@babel/plugin-proposal-object-rest-spread", "@babel/plugin-transform-flow-strip-types", ["@babel/plugin-proposal-decorators", { "legacy": true }], ["@babel/plugin-proposal-class-properties", { "loose": true }]]
    }
  }
}
