{
  "passPerPreset": true,
  "presets": [
    "react-native"
  ],
  "plugins": ["transform-decorators-legacy", "transform-class-properties", "mobx-deep-action"],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    },
    "test": {
      "plugins": ["transform-decorators-legacy", "transform-class-properties"]
    }
  }
}
