<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.hippware.android.tinyrobot">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

  <!-- for rn-image-crop-picker -->
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <uses-feature android:name="android.hardware.camera" android:required="false" />
  <uses-feature android:name="android.hardware.camera.front" android:required="false" />
  <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
  <uses-feature android:name="android.hardware.camera.flash" android:required="false" />


  <application android:name=".MainApplication" android:screenOrientation="portrait" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:allowBackup="false" android:theme="@style/AppTheme">

    <!-- https://stackoverflow.com/a/50779232/476228
        todo: remove this if we target a higher Google Maps SDK (after a rn-maps update perhaps)
      -->
    <uses-library android:name="org.apache.http.legacy" android:required="false" />

    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyDjvPNa8X4sVI9-jUb8BrN08nwCa9Hp128"/>
    <activity android:name=".MainActivity" android:label="@string/app_name" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    <service android:name="io.invertase.firebase.messaging.RNFirebaseMessagingService">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>
    <!-- react-native-background-geolocation license -->
    <meta-data android:name="com.transistorsoft.locationmanager.license" android:value="f30676d19eba675754ee6eb7ae34a64f5d56fcbf60728fd9e632af622fdc0f3d" />

    <!-- Push Notifications -->
    <meta-data android:name="com.dieam.reactnativepushnotification.notification_channel_name" android:value="default"/>
    <meta-data android:name="com.dieam.reactnativepushnotification.notification_channel_description" android:value="default"/>
    <!-- Change the resource name to your App's accent color - or any other color you want -->
    <meta-data android:name="com.dieam.reactnativepushnotification.notification_color" android:resource="@android:color/white"/>
    <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationPublisher" />
    <receiver android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationBootEventReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
    <service android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationRegistrationService"/>
    <service android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationListenerService" android:exported="false">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>
    <!-- END Push Notifications -->

  </application>

</manifest>
