<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppSecret</key>
	<string>dc07a868-70c5-49f9-bf0d-e40c9616189d
dc07a868-70c5-49f9-bf0d-e40c9616189d</string>
</dict>
</plist>
