<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513608831264-rkm7vrg8g0q9bcq2e2n65ktqlmfvvgem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513608831264-rkm7vrg8g0q9bcq2e2n65ktqlmfvvgem</string>
	<key>API_KEY</key>
	<string>AIzaSyDVBtg5Hs8256kZj6-4f0BcG00aHFeSdG0</string>
	<key>GCM_SENDER_ID</key>
	<string>513608831264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hippware.ios.ChatStaging</string>
	<key>PROJECT_ID</key>
	<string>tiny-robot</string>
	<key>STORAGE_BUCKET</key>
	<string>tiny-robot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513608831264:ios:68fbea5df8daf2f24d4745</string>
	<key>DATABASE_URL</key>
	<string>https://tiny-robot.firebaseio.com</string>
</dict>
</plist>