{
  "passPerPreset": true,
  "presets": [
    "react-native"
  ],
  "sourceMaps": "inline",
  "plugins": ["transform-decorators-legacy", "transform-class-properties"],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    },
    "test": {
      "plugins": ["transform-decorators-legacy", "transform-class-properties"]
    }
  }
}
