<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
  <key>Fabric</key>
  <dict>
    <key>APIKey</key>
    <string>2c26edd537d6142e372672914153970108c65238</string>
    <key>Kits</key>
    <array>
      <dict>
        <key>KitInfo</key>
        <dict>
          <key>consumerKey</key>
          <string>e527IQiWSXZ5WHNxROUZk87uV</string>
          <key>consumerSecret</key>
          <string>3FZKEf68mIDrrCPXdO78CewCfeD47ftfBz5cJN4QwqnWgCIQpj</string>
        </dict>
        <key>KitName</key>
        <string>Digits</string>
      </dict>
      <dict>
        <key>KitInfo</key>
        <dict>
          <key>accessToken</key>
          <string>pk.eyJ1IjoiY2lraWNsZTJ5MDNxYnUwbTZibWUxdnlyeSIsImEiOiJjaWtpY2xoZXMwM3FkdTBtNnZyOXE2bGNsIn0.QbxERf8MREAglAk06hrYJA</string>
        </dict>
        <key>KitName</key>
        <string>MGLAccountManager</string>
      </dict>
    </array>
  </dict>
	<key>CFBundleVersion</key>
	<string>78</string>
</dict>
</plist>
